<div class="section-title desktop-12 mobile-3">
  <h1>{{ 'general.404.title' | t }}</h1>
</div>

<div class="desktop-12 tablet-6 mobile-3">

  <label class="subtext">{{ 'general.404.subtext' | t }}</label>

  <div id="search-bar">
    <form action="/search" method="get">
      <h3>{{ 'general.search.title' | t }}</h3>
      <input type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" />
    </form>
  </div>

  <div class="clear"></div>

</div>

{% include 'collection-listing' %}
